<!-- 继承模板'layout.html' -->
{% extends 'layout.html' %}

{% block content %}
<!-- 中间填充不一样的内容 -->
<div>
    <a href="#">添加人员</a>
    <table>
        <thead>
            <tr>
                <th>部门ID</th>
                <th>部门名称</th>
                <th>部门描述</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in obj_list %}
            <tr>
                <th>{{ obj.id }}</th>
                <th>{{ obj.title }}</th>
                <th>{{ obj.desc }}</th>
                <td>
                    <a href="/depart/{{ obj.id }}/edit/">编辑</a>
                    <a href="/depart/delete/?nid={{ obj.id }}">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}