<!-- 继承模板'layout.html' -->
{% extends 'layout.html' %}

{% block content %}
<!-- 中间填充不一样的内容 -->
<div>
    <a href="#">添加人员</a>
    <table>
        <thead>
            <tr>
                <th>用户ID</th>
                <th>姓名</th>
                <th>密码</th>
                <th>年龄</th>
                <th>性别</th>
                <th>账户余额</th>
                <th>入职时间</th>
                <th>部门信息</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in obj_list %}
            <tr>
                <th>{{ obj.id }}</th>
                <th>{{ obj.name }}</th>
                <th>{{ obj.password }}</th>
                <th>{{ obj.age }}</th>
                <!-- Python中的固定写法 -->
                <th>{{ obj.get_gender_display }}</th>
                <th>{{ obj.account }}</th>
                <!-- Python中的固定写法 -->
                <th>{{ obj.create_time | date:"Y-m-d" }}</th>
                <!-- Python中的固定写法 -->
                <th>{{ obj.depart.title }}</th>
                <td>
                    <a href="#">编辑</a>
                    <a href="#">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}